<!DOCTYPE HTML>

<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />


	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
				
				</header>
			<!-- Main -->
				<section id="main" class="container medium">
					<header>
						<br>
						<br>
						<h2>ADMIN LOGIN</h2>
						<p></p>
						
					</header>
					
					<div class="box">
						<form method="post" action="admin.php">
							<div class="row gtr-50 gtr-uniform">
								<div class="col-6 col-12-mobilep">
									<input type="text" name="name" id="name" value="" placeholder="Username"/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="password" name="txtPassword" id="email" value="" placeholder="password" />
								</div>
							
								
								<div class="col-12">
									<br>
									<ul class="actions special">
										
										<li><input type="submit" value="Login" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
			
			<footer id="footer">
					
			</footer>

	</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>



