<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<header id="header">
				<!-- Header content goes here -->
			</header>

			<section id="main" class="container medium">
				<header>
					<!-- Main header content goes here -->
				</header>

				<div class="box">
					<form id="loginForm" style="text-align: center;">
						<h2>ADMIN LOGIN</h2>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" id="name" value="" placeholder="Username" />
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="password" name="txtPassword" id="password" value="" placeholder="Password" />
							</div>
							<div class="col-12">
								<br>
								<ul class="actions special">
									<li><input type="button" value="Login" onclick="validateLogin()" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

			<footer id="footer">
				<!-- Footer content goes here -->
			</footer>
		</div>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

		<script>
			function validateLogin() {
				// Burada giriş bilgilerini kontrol etmek için gerekli işlemleri yapabilirsiniz.
				// Örneğin, AJAX ile sunucuya istek gönderip kontrol sağlanabilir.

				// Örnek kontrol:
				var username = document.getElementById("name").value;
				var password = document.getElementById("password").value;

				if (username === "admin" && password === "password") {
					// Doğrulama başarılı ise, kullanıcıyı data.html sayfasına yönlendir.
					window.location.href = "data.html";
				} else {
					alert("Invalid username or password. Please try again.");
				}
			}
		</script>
	</body>
</html>
