<!DOCTYPE HTML>

<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
				
				</header>
			<!-- Main -->
				<section id="main" class="container medium">
					<header>
					</header>
					
					<div class="box">
						{% if error %}
							<p style="color: red">{{error}}</p>
						{% endif %}


						<form method="post" action="{{url_for('admin_page')}}" style="text-align: center;">
							<h2>ADMIN LOGIN</h2>
							<div class="row gtr-50 gtr-uniform">
								<div class="col-6 col-12-mobilep">
									<input type="text" name="username" id="username" placeholder="Username" required/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="password" name="password" id="password" 
									placeholder="Password" required/>
								</div>	
								<div class="col-12">
									<input class="button" value="Login" type="submit"/>
									<!--<br>-->
									<!--<ul class="actions special">-->
										<!--<li><a href="{{ url_for('filter_page') }}" class="button">Login</a></li>-->
									<!--</ul>-->
								</div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
			
			<footer id="footer">
					
			</footer>

	</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>



